{% extends 'main.html.twig' %}

{% block body %}
    <div class="x_panel">
        <div class="x_title">
            <h2>Editar Personal</h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            {{ form_start(edit_form) }}
                <div class="col-md-6">
                    {{ form_widget(edit_form) }}
                        <br></br>
                        <input class="btn btn-success pull-right" type="submit" value="Guardar" />
                </div>
            {{ form_end(edit_form) }}
        </div>
    </div>
{% endblock %}
